.content{
    margin-left: 240px;
    margin-top: 85px;
}
.boton-admin {
    background: none;
    border: 1px solid #3271c9;
    border-radius: 5px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.65);
    display: block;
    font-size: 2vw;
    font-weight: bold;
    margin: 1em auto;
    padding: 2em 4em;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    width: 50vw;
    text-decoration: none;
    color: #000;
}

    .boton-admin:hover {
        background: none;
    }

    .boton-admin::before,
    .boton-admin::after {
        background: #3271c9 !important;
        content: '';
        position: absolute;
        z-index: -1;
        overflow: hidden;
        
        
    }

    .boton-admin::after {
        background-color: #fff;
        height: 150%;
        left: -35%;
        top: 0;
        transform: skew(50deg);
        transition-duration: 0.6s;
        transform-origin: top left;
        width: 0;
        overflow: hidden;
        
        
    }

    .boton-admin:hover:after {
        height: 100%;
        width: 135%;
        overflow: hidden;
        
    }
    