.blog-container{
    display: grid;
    grid-template-columns: 75% 25%;
    padding-right: 0em;
    
    .post-content{
        padding-left: 2em;
        padding-right: 2em;

        .post-header img{
            width: 100%;
        }

        p, h2{
            color: #000;
            text-align: justify;
        }

        h1{
            font-size: 37px;
        }

        h4{
            margin-top: -1em;
            font-size: 1em;
            font-weight: normal;
        }
    }

    .post-sidebar{
        grid-column: 2/3;
        grid-row: 1/3;
        padding-top: 2em;
        padding-right: 1em;
        padding-left: 1em;
        background-color: #003b8e;
        position: fixed;
        right: 0;
        width: 26vw;
        top:10vh;
        height:90vh;
        h3{
            font-size: 24px;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            color: #fff;
        }

        .last-posted{
            background-color: rgba(0, 0, 0, 0.2);
            height: 320px;
            padding: 0.5em;
          }
          
        }
        
    .media-container{
      overflow-y: scroll;
      height: 230px;
    }
    
    .categories-container{
      overflow-y: scroll;
      height: 150px;
    }

    .post-sidebar .last-posted .media-container::-webkit-scrollbar,
    .post-sidebar .categories .categories-container::-webkit-scrollbar {
      width: 12px;
    }
    .post-sidebar .last-posted .media-container::-webkit-scrollbar-track,
    .post-sidebar .categories .categories-container::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
    }
    .post-sidebar .last-posted .media-container::-webkit-scrollbar-thumb,
    .post-sidebar .categories .categories-container::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #d1d1d1;
    }

    .sidebar-item .media{
      border-bottom: 1px solid #ececec;
      padding-bottom: 10px;
      padding-top: 21px;
      margin-top: 0;
      transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s; 
      display: flex;   
    }
  
    .sidebar-item .media:last-child{
      border-bottom: 0px solid #ececec;  
      padding-bottom: 0; 
    }
  
  .sidebar-item .media .media-body p,
  .sidebar-item .media .media-body h4{
      margin-left: 0.5em;
  }
  
  .sidebar-item .media .pull-left img{
      margin-top: 0px;
  }
  
    .sidebar-item .media .media-body p {
      color: #b4b4b4;
      font-size: 12px;
      margin-left: 0.5em;
    }
    
    .sidebar-item .media .media-body h4 {
        margin-top: 0;
        margin-bottom: 8px;
      }
      
      .sidebar-item .media .media-body h4 a{
          color: #fff;
          font-size: 13px;
      }
      
      .sidebar-item .media:hover.media .media-body h4 a{
        color: #00d2ee;
        transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
      }

      .response-area{
        padding: 0 2em;
      }
  
      .response-area h2 {
          margin-top: 0;
          margin-bottom: 0;
          border-bottom: 0;
          padding-bottom: 2px;
          font-size: 24px;
      }
      
      .media-list, ul{
          padding-left: 0;
          list-style: none;
      }
  
      .post-comment{
          padding-left: 10px;
          padding-top: 36px;
          border-top: 1px solid #dddad5;
          display: grid;
          grid-template-columns: 7% 93%;
      }
  
      .post-comment .pull-left img{
          margin-top: 7px;
      }
  
      .post-comment .media-body{
          padding-top: 6px;
          border-bottom: 0;
          padding-bottom: 50px;
      }
        
      .post-comment .media-body p{
          margin-top:10px;
          text-align: justify;
          margin-right: 10px;
      }
  
      .post-comment .media-body span{
          margin-right: 10px;
      }
        
      .post-comment .media-body span i{
          color: #003b8e;
          margin-right: 5px;
      }
      
      .post-comment .media-body span span{
          color: #003b8e;
          font-weight: 700;
      }
  
      .post-comment .media-body span a,
      .post-comment .media-body span a i{
          color: #0099AE;
          padding: 0;
          text-align: left;
          font-size: 15px;
      }
        
      .post-comment .media-body .post-nav li a{
          font-weight: 300;
      }
  
      .parrent .media-list{
          margin-left: 190px;
      }
      
      .parrent .post-comment{
          padding-left: 0;
          margin-left: 70px;
      }
  
      
  .author-profile.padding{
      border-top: 1px solid #dddad5;
      padding-top:50px;
      padding-bottom: 1em;
  }
  
  .author-profile .row{
      display: grid;
      grid-template-columns: 10% 90%;
  }
    
    .author-profile .col-sm-2 img{
      width: 100%;
      border-left: 3px solid #0099AE;
    }
  
    .author-profile .col-sm-10{
        padding-left: 1em;
    }
    
    .author-profile h3{
      font-size: 18px;
      margin-top:0;
      color: #3a424c;
    }
    
    .author-profile p{
        font-size: 14px;
      color: #3a424c;
      font-weight: 400;
    }
    
    .author-profile span a{
      color: #C03035;
    }
  
    .categories{
      padding: 0.5em;
    }
    
  .categories .navbar-stacked li {
      border-bottom: 1px solid #ececec;
      margin-top: 10px;
      padding-bottom: 10px;
    }
    
    .categories .navbar-stacked li:last-child {
      border-bottom: 0px solid #ececec;
    }
    
    .categories .navbar-stacked li a {
      font-size: 16px;
      color: #ffffff;
      padding: 8px 0;
      padding-left: 0;
    }
    
    .categories .navbar-stacked li a:hover{
      background: none;
      margin-left: 20px;
      font-weight: 600;
      opacity: 1;
    }
    
    .categories .navbar-stacked li.active a{
      color: #0099AE;
      padding-left: 20px;
    }
    
    .categories .navbar-stacked li.active a:before{
      position: absolute;
      content: "";
      border-color: transparent transparent transparent #0099AE;
      border-width: 8px;
      border-style: solid;
      left: 0;
      top: 13px;
      margin-top: 0;
      z-index: 0;
      transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
    }
    
    .categories .navbar-stacked li.active a:after {
      position: absolute;
      content: "";
      border-color: transparent transparent transparent #fff;
      border-width: 6px;
      border-style: solid;
      left: 0px;
      top: 15px;
      margin-top: 0;
      z-index: 1;
      transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
    }
    
  
}

@media(max-width: 1090px){
  .blog-container{
    .post-comment .media-body{
      padding-left: 1em;
    }
  }
}

@media(max-width: 960px){
    
    .blog-container{
      grid-template-columns: 100%;
      grid-template-rows: repeat(1fr, 3);
      padding-left: 0em;

      .pull-left{
        margin-right: 0.5em;
      }

      .post-sidebar{
        position: static;
        width: 100%;
        height: 100%;
        grid-column: 1/2;
        grid-row: 3/4;
        padding-bottom: 1em;
      }

      .sidebar-item .media .media-body h4 {
        margin-top: 0;
        margin-bottom: 8px;
        line-height: 1;
      }

      .post-comment{
        grid-template-columns: 10% 90%;
        align-items: start;
        justify-content: center;

        .media-body{
          padding-left: 0;
        }
      }

      .response-area{
        margin-top: 1em;
      }

      .categories{
        padding: 1em;
      }
    }
}

@media(max-width: 590px){
  .blog-container{

    .author-profile .row{
      grid-template-columns: 20% 80%;
      align-items: center;
    }

    .post-comment{
      grid-template-columns: 15% 85%;
    }
  }
}