@import "./Settings.scss";

* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  -webkit-appearance: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100vh;

  &.unscrollable {
    height: 100vh;
    overflow: hidden;
  }

  #app {
    width: 100%;
  }
}

